<div class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50" id="createCategoryModal">
    <div class="bg-white text-black rounded-lg shadow-lg w-full max-w-2xl">
      <div class="px-4 py-3 border-b border-gray-200 flex justify-between items-center">

        <h5 class="modal-title" id="createCategoryModalLabel">Adicionar Filme</h5>

        <button class="text-red-600 text-xl" (click)="onClose()">&times;</button>
      </div>
      <div class="p-4">
        <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Imagem -->
            <div class="flex flex-col justify-center items-center mb-4">
                <div class="img-placeholder">
                  <img src="../../../../assets/icons/movie.png" alt="Imagem">
                </div>
                <label class="inserir-imagem text-black-300 cursor-pointer hover:underline mt-2" for="photo">Inserir Imagem</label>
                <input type="file" accept=".png, .jpg, .jpeg" id="photo" class="hidden">
            </div>

            <!-- Título e Descrição -->
            <div>
              <!-- Nome -->
              <div class="mb-4">
                <label for="title" class="block text-sm font-medium">Nome*</label>
                <input
                  type="text"
                  id="title"
                  formControlName="name"
                  placeholder="Nome"
                  class="input-field"
                  name="title"
                  required
                />
              </div>

              <!-- Nota -->
              <div class="mb-8 mt-4">
                <label class="block text-sm font-medium">Nota*</label>
                <div class="flex justify-center space-x-1 text-gray-400 cursor-pointer mt-2" id="starRating">
                    <i class="fa fa-star text-2xl" [class.text-yellow-500]="movieForm.value.rating >= 1" data-value="1" (click)="setRating(1)"></i>
                    <i class="fa fa-star text-2xl" [class.text-yellow-500]="movieForm.value.rating >= 2" data-value="2" (click)="setRating(2)"></i>
                    <i class="fa fa-star text-2xl" [class.text-yellow-500]="movieForm.value.rating >= 3" data-value="3" (click)="setRating(3)"></i>
                    <i class="fa fa-star text-2xl" [class.text-yellow-500]="movieForm.value.rating >= 4" data-value="4" (click)="setRating(4)"></i>
                    <i class="fa fa-star text-2xl" [class.text-yellow-500]="movieForm.value.rating >= 5" data-value="5" (click)="setRating(5)"></i>
                </div>
                <input type="hidden" id="rating" name="rating" value="0">
              </div>

              <!-- Análise -->
              <div class="mb-4">
                <label for="description" class="block text-sm font-medium">Análise*</label>
                <textarea
                  id="description"
                  placeholder="Análise"
                  formControlName="analysis"
                  class="input-field"
                  name="description"
                  required
                ></textarea>
              </div>

              
            </div>
          </div>

          <!-- Botão -->
          <div class="flex justify-end border-t border-gray-200 pt-3 space-x-2">
            <button type="submit" class="btn-primary" [disabled]="movieForm.invalid">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>