<div class="footer">
    <div class="images flex">
        <a href="https://www.netflix.com" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icons/netflix.png" alt="Netflix">
            <span class="tooltip-text">Netflix</span>
        </a>
        <a href="https://www.primevideo.com" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icons/prime-video.png" alt="Prime Vídeo">
            <span class="tooltip-text">Prime Vídeo</span>
        </a>
        <a href="https://www.imdb.com/pt/" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icons/imdb.png" alt="IMDB">
            <span class="tooltip-text">IMDB</span>
        </a>
        <a href="https://www.disneyplus.com" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icons/disney.png" alt="Disney+">
            <span class="tooltip-text">Disney+</span>
        </a>
        <a href="https://auth.max.com/login" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icons/hbo-max.svg" alt="Max">
            <span class="tooltip-text">Max</span>
        </a>
    </div>
</div>